html {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: rgb(45, 57, 69);
}

header {
  text-align: center;
}

header h1 {
  text-align: center;
  background-color: rgb(45, 57, 69);
  color: white;
  padding: 30px;
  margin: 0;
  text-transform: uppercase;
}

.first-hr {
  width: 90%;
  border: 3px solid black;
}

.second-hr {
  width: 90%;
  border: 1px black solid;
}

footer p {
  font-size: 0.85em;
  text-align: center;
  margin-top: 25px;
}

/********************* Form *********************/

.form-box {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.contact-legend {
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(45, 57, 69);
  margin-bottom: 20px;
  margin-top: 30px;
  padding-left: 14px;
}

.personal-info input {
  display: block;
  border: none;
  font-size: 16px;
  height: 30px;
  margin: 10px 0 10px 0;
  padding: 15px;
  width: 90%;
  background-color: #e8eeef;
  color: black;
  border-radius: 5px;
}

.personal-info select {
  display: block;
  border: none;
  font-size: 16px;
  height: 30px;
  margin: 10px 0 10px 0;
  width: 90%;
  background-color: #e8eeef;
  color: black;
  border-radius: 5px;
}

input[id="full-name"],
input[id="email"] {
  text-align: right;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 2px solid rgb(70, 105, 139);
}

#zip {
  width: 35%;
}

.newsletter-legend {
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(45, 57, 69);
  margin-bottom: 20px;
  margin-top: 30px;
  padding-left: 14px;
}

textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: 100px;
  margin: 0;
  padding: 15px;
  width: 90%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  border-radius: 2px;
}

#javascript-news,
#css-news,
#html-news,
input[type="radio"] {
  margin-right: 10px;
  margin-bottom: 20px;
}

.newsletter-label {
  padding-top: 30px;
  padding-bottom: 15px;
  overflow: auto;
  box-sizing: border-box;
}

.last-radio {
  padding-bottom: 30px;
}

.submit {
  padding: 30px 39px 30px 39px;
  color: white;
  background-color: rgb(78, 187, 181);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  border-style: none;
}

/******************************* Media Queries *******************************/
@media all and (min-width: 768) {
  .form-box {
    display: flex;
    flex-direction: row;
  }
  .form-box label {
    display: block;
    flex-basis: 9rem;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .form-box input,
  .form-box select,
  .form-box textarea {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .form-box button {
    margin-left: 9rem;
  }
}
